
@{
    Layout = null;
    //ViewBag.Title = "DataTables";
}
@Styles.Render("~/bundles/modernizr")
@Styles.Render("~/bundles/bootstrap")
@Styles.Render("~/Content/logincss")


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DataTables</title>
</head>
<body>
    <div>
        <h2>Welcome to your account </h2>
    </div>
</body>
</html>


