
@{
    ViewBag.Title = "Login";
    Layout = null;
}
@Scripts.Render("~/bundles/Login")
@Scripts.Render("~/Content/logincss")


<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="../Content/login.css">
</head>

<body>

asdfasdfasdf
    <!------ Include the above in your HEAD tag ---------->
    <!--
        you can substitue the span of reauth email for a input with the email and
        include the remember me checkbox
        -->
    
</body>